*{
    margin: 0;
    padding: 0;
    
}
.body_name_cake{
    width: 100vw;
    height: 100%;
}
.container-fluid{
    position: relative;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
}

.plate{
    position:relative;
    z-index: 1;
    top:0px;
    right: 0px;
    width: 400px;
    height: 150px;
    margin: 0 auto;
    border-bottom: 32px solid rgb(173, 55, 69);
    border-radius: 100%;
    transform: rotateX(50deg);
    background-color: rgb(209,181,181);
    box-shadow:3px 35px 5px 0px rgba(49,16,16,0.75) inset ;
}
img{
    width: 250px;
    height: 150px;
    position: relative;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.lid{
    width: 380px;
    height: 300px;
    border: 2px solid transparent;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    position: relative;
    top: 365px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    background: radial-gradient(130% 230px at 50% -30px, rgba(34,32,32,0.4)95%, transparent 95%) no-repeat;
    transition: all ease-in-out 2s;
}
.lid::before{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -40px;
    left: 45%;
    content: '';
    z-index: 3;
    background: radial-gradient(circle at 100px 100px, rgb(231,196,196), rgb(39,16,16));
}
.lid::after{
    width: 350px;
    height: 170px;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    background: white;
    background: linear-gradient(90deg, rgba(255,255,255,0.3113620448179272) 23%, rgba(0,0,0,0.2945553221288515) 64%);
    position: absolute;
    top: 0px;
    left: 10px;
    content: '';
    z-index: 0;
    filter: blur(10px);
}

.lid:hover{
    transform: translateY(-240px) translateX(30px) rotateZ(50deg);
    transition: all ease-in-out 2s;
}
@media only screen and (max-width:600px){
    .container-fluid{
        justify-content: center;
    }
    .plate{
        position:relative;
        z-index: 1;
        top:0px;
        right: 0px;
        width: 200px;
        height: 100px;
        border-bottom: 22px solid rgb(173, 55, 69);
    }
    img{
        width: 130px;
        height: 75px;
        position: relative;
        top: 65px;
    }
    .lid{
        width: 190px;
        height: 110px;
        position: relative;
       top: 158px;
       left: 50%;
       background: radial-gradient(130% 130px at 50% -30px, rgba(34,32,32,0.4)95%, transparent 95%) no-repeat;

    }
    .lid::before{
        width: 30px;
        height: 30px;
        position: absolute;
        top: -25px;
        left: 44%;
    }
    .lid::after{
        width: 150px;
        height: 65px;
        
    }
    .lid:hover{
        transform: translateY(-100px) translateX(-20px) rotateZ(20deg);
        transition: all ease-in-out 2s;
    }

}
