*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    overflow-X: hidden;
    scroll-behavior: smooth;
}
header{
    margin: 0;
    padding: 0;
    width: 100vw;
    height:700px;
    background-color: rgb(255, 255, 255);
}
.body-main{
    overflow-X: hidden;
    scroll-behavior: smooth;
    width: 100vw;
    background-color:rgb(22, 205, 150);
}
.navbar-nav{
    position: absolute;
    right: 100px;
    margin-right: 150px;

}
.navbar-nav a{
    color: teal;
    font-weight: 600;
}
.navbar{
    /* background-color: #19a68e; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.main{
    position: absolute;
    margin: 0;
    padding: 0;
}
/* width */
code pre::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  code pre::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(26, 121, 115); 
    border-radius: 10px;
  }
   
  /* Handle */
  code pre::-webkit-scrollbar-thumb {
    background: rgb(3, 99, 76); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  code pre::-webkit-scrollbar-thumb:hover {
    background: #037671; 
  }
code pre{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
 width: 50vw;
 height: 400px;
 font-size: 1.1em;
 padding: 20px;
 background-color: rgb(0, 0, 0);
 border-radius: 20px;
 color: rgb(141, 155, 167);
 display:block;
 word-wrap: break-word;
 -webkit-word-wrap: break-word;
    word-break: break-all;
    word-wrap: break-word; /* IE>=5.5 */
    white-space: -moz-pre-wrap; /* For Fx<=2 */   
    white-space: pre-wrap; /* Fx>3, Opera>8, Safari>3 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: pre-line;
 overflow-wrap: break-word;
 -webkit-overflow-wrap: break-word ;
 
}
.youtubevideo{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.youtubevideo{
    width:100vw;
}
.youtubevideo video{
    width:100%;
    height:auto;
    justify-content: center;
}

.nameplate{
    position: relative;
    top: 10px;
    left: 100px;
    height: 70px;
    padding: 20px;
    color: rgb(252, 242, 244);
    font-size:20px;
     border-radius: 15px 50px; 
     font-family: 'Merienda One', cursive;
     text-shadow:0 0 10px black;
     animation: colorchange 3s ease-in-out infinite;
     background: linear-gradient(90deg, rgb(60, 137, 130) 0%, rgb(17, 65, 68) 33%);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
/* .main img{
    width: 33em;
    height: auto;
    position: absolute;
    right: 20px;
    z-index: 0;
    float: left; 
} */

.aboutme{
    margin: 0;
    padding: 0;
}
#wave{
    position:relative;
    top: -200px;
    z-index: 1;
}
#wavedown{
    position:relative;
    top:-20px;
}
.bla-bla{
   position: relative;
    left: 50%;
    transform: translateX(-50%);
 width: 60vw;
}
.bla-bla p{
   padding:20px;
    margin-bottom: 50px;
    text-align: center;
}
/* .main-page{
    width: 100vw;
    height: 100vh;

} */
.page-right{
    width: 500px;
    height:500px;
    position:relative;
    display: flex;
    overflow: hidden;
    margin-top: 50px;
   
    
}
.page-right img{
    display: block;
    position:absolute;
    height: inherit;
    width:inherit;
    object-fit: contain;
  
}
.page-left{
    width: 50%;
    height: auto;
    font-family: 'Merienda One', cursive;
    margin-top: 100px;
    float: left;
    text-align: center;
}

.page-left .btn1{
color: white;
padding: 20px;
background-color: rgb(12, 64, 54);
border-radius: 15px 50px; 
border: none;
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
margin: 20px;
}
.page-left .btn2{
    color: rgb(255, 255, 255);
    padding: 20px;
    background-color: rgb(12, 64, 54);
    border-radius: 15px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px; 
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
 
    }

.page-left h1{
    font-size: 29px;
    color: teal;
    padding: 10px;
}
.aboutme h2{
    font-size: 30px;
    color: white;
    padding: 10px;
    font-family: 'Merienda', cursive;
}
.page-left h4{
    font-size: 15px;
    font-family: sans-serif, cursive;
    font-weight:small;
    padding: 10px;
    color: grey;
}
.aboutme{
    height: auto;
    font-size: 1.5em;
    color: white;
    text-align: center;
}
.aboutme p{
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
}
.aboutme p a{
    color: rgb(12, 75, 75);
    
}
.fa{
    color: white;
    font-size: 2em;
    padding: 20px;
}

.fa:hover{
    color: rgb(5, 65, 65);
}
.aboutme h2{
    font-size: 40px;
    color: rgb(247, 247, 247);
    font-family: 'Merienda One', cursive;
    padding-top: 10px;
}

.animations{ 
  width: 100vw;
  height: auto;
  
}
.animations h3{
    font-size: 40px;
    color: rgb(247, 247, 247);
    font-family: 'Merienda One', cursive;
    padding-top: 60px;
    text-align: center;
}
.animations li{
    text-decoration: none;
    text-align: center;
    list-style-type: none;
}
.animations a{
    text-decoration: none;
    font-size: 2em;
    color: white;
}
.animations a:hover{
    color: #095044;
}

/* quote */
.card_quote{
   margin-top: 50px;
    box-shadow: rgb(52, 52, 53) 3px 3px 6px 0px inset, rgba(2, 2, 2, 0.5) -1px -1px 6px 1px inset;}
.card-body-quote p{
    font-family: 'Merienda one', cursive;  
     color:teal;
     text-shadow: 2px 2px 4px #ffff;

}
.buton{
    width: 100%;
    text-align: center;
}
.card-body-quote p{
    font-size: 30px;
    
} 
.footer{
    width: 100vw;
     height: 1800px;
    background-color: white;
}
.copyright_info{
    text-align: center;
    color: #095044;
}
.copyright_info .fa{
    color:#095044;
}
.credit{
    text-align: center;
   margin-bottom: 10px;
}
.credit a{
    color:#095044;
    margin-top: 50px;
}
.credit .socialmedia .fa{
    color: #095044;
    margin-top: 50px;
    font-size: 30px;
}
.credit .nameplate{
    margin-right: 200px;
   
}

.wavetermsdown{
    bottom: 0;
}
.breadcrumb{
    background-color: transparent;
    color: teal;
    font-size: 20px;
    width: 100vw;
    text-align:center;
   
}
.breadcrumb li a{
    color: teal;
    text-align: center;
    
}
.breadcrumb-item{
    text-align: center;

}
.youtubevideoin{
    justify-content: center;
    position:relative;
    left:50%;
    transform:translateX(-50%);
    width:500px;
    height:400px;
    
   
}
.youtubevideoin .inpagevideos{
    width: 100%;
    height:100%;
    
}
.youtubevideoin iframe{
    width: 100%;
   height: 100%; 
}
.youtubevideo{
    width: 100vw;
}
.videout{
    width: 100%;
    height:100%;
}
.swan{
 width:100vw;
 height:640px;
 object-fit:cover;

} 
.swan iframe{
width: 100%;
height: 100%;
border: none;
}
.footer p{
    padding-top: 100px;
}
.link-animations{
    position:relative;
    left:50%;
    transform:translateX(-50%);
    width:90vw;
    margin-bottom:50px;
    padding:10px;
    border-radius:20px;
}

@media screen and (max-width:1200px) {
    .page-right{
        width: 450px;
        height:450px;
        
    }    
    .swan{
       
        height:140px;
    }
    .wave{
        height: 640px;
    }
}
@media screen and (max-width:1024px){
    #wave{
        position:relative;
        top: -150px;
        z-index: 1;
    } 
    .swan{
   
       height:640px;
    }
} 

@media screen and (max-width:998px) {
    .page-right{
        width: 400px;
        height:400px;
        position: relative;
    } 
    .page-left{
        margin-top: 20px;
    }  
    header{
        height:620px;
    }
    #wave{
        position:relative;
        top: -140px;
        z-index: 1;
    } 
    span.navbar-toggler-icon{
        position: absolute;
        top: 0px;
        right: 300px;
        color: #095044;
        font-size: 50px;
    }
    #navbarNavDropdown{
        background-color: black;
        z-index: 99999;
    }
    .navbar-nav{
        position: absolute;
        right: -100px;
        padding: 50px;
        background-color: #35c8b0;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
    .swan{
        height:640px;
        
    }
}

@media screen and (max-width:820px){
    span.navbar-toggler-icon{
        position: absolute;
        top: 10px;
        right: 10px;
        color: #095044;
        font-size: 50px;
    }
    #navbarNavDropdown{
        background-color: black;
        z-index: 99999;
    }
    .navbar-nav{
        position: absolute;
        right: -100px;
        padding: 50px;
        background-color: #35c8b0;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
     .dropdown-menu.animationv{
       width: 250px;
    }
    .swan{
        height:640px;
        
    }
   .bla-bla{
       width: 80vw;
    }
}

@media screen and (max-width:768px){
    .page-left{
        width: 100%;
       padding: 20px;
    }
    .page-left h1{
        font-size: 40px;
    }
    .page-right{
        width:450px;
        height:450px;
        justify-content: center;
        margin-left: 150px;
    }
    #wave{
        position:relative;
        top: -110px;
        z-index: 1;
    }
     .aboutme p{
        margin-top: 40px;
        margin-left:30px;
        margin-right: 30px;
        margin-bottom: 50px;
    } 
    header{
        width: 100vw;
        height:1050px;
        margin: 0;
        padding: 0;
    }
    .nameplate{
    left:10px;
    }
    .coffee{
        width: 100%;
        text-align: center;
        padding-top: 50px;
    }
    .credit .nameplate{
        margin-right: 0;
    }
    .footer{
        height: 750px;
    }
    .animations a{
      font-size: 25px;
      margin: 20px;
    }
    span.navbar-toggler-icon{
        position: absolute;
        top: 10px;
        right: 10px;
        color: #095044;
        font-size: 50px;
    }
    #navbarNavDropdown{
        background-color: black;
        z-index: 99999;
    }
    .navbar-nav{
        position: absolute;
        right: -100px;
        padding: 50px;
        background-color: #35c8b0;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
    .swan{
     
        height:580px;
    }  
    .bla-bla{
    width: 100vw;
}
       code pre{
       position: relative;
       margin-left: 0;
       width: 90vw;
/*        transform: translateX(0%);     */
    }
  
}
@media screen and (max-width:540px){
    .page-right{
        width:450px;
        height:450px; 
        justify-content: center;
        margin-left: 50px;
    } 
    /* .youtubevideo video{
        width:420px;
        height:250px;
    } */
    header{
        height: 990px;
    }
    #wave{
        position:relative;
        top: -90px;
        z-index: 1;
    }
  .swan{
        width:100vw;
        height:320px;
    }
    .youtubevideoin{
        width:100vw;
    }
     
     .bla-bla{
     width: 100vw;
}
       code pre{
       position: relative;
       margin-left: 0;
       width: 90vw;
/*        transform: translateX(0%);   */
    }
     
}
@media screen and (max-width:480px) {
    .page-right{
        width: 370px;
        height: 370px;
        justify-content: center;
    }
   .swan{
        width:100vw;
        height:320px;
    }
    .youtubevideoin{
        width:100vw;
    }
    
     .bla-bla{
    width: 100vw;
}
       code pre{
       position: relative;
      margin-left: 0;
       width: 90vw;
/*        transform: translateX(0%);   */
    }
}
@media screen and (max-width:414px){
    #wave{
        position:relative;
        top: -60px;
        z-index: 1;
    }
    .page-right{
        width: 350px;
        height: 350px;
        justify-content: center;
       margin-left: 40px;
    }
    .swan{
        width:100vw;
        height:320px;
    }
   .youtubevideoin{
        width:100vw;
    }
    
     .bla-bla{
    width: 100vw;
}
       code pre{
       position: relative;
      margin-left: 0;
       width: 90vw;
/*        transform: translateX(0%);   */
    }
}
@media screen and (max-width:412px){
    #wave{
        position:relative;
        top: -60px;
        z-index: 1;
    }
    .page-right{
        width: 350px;
        height: 350px;
        justify-content: center;
       margin-left: 40px;
    }
 .swan{
        width:100vw;
        height:320px;
    }
    .youtubevideoin{
        width:100vw;
    }
    
     .bla-bla{
   width: 100vw;
}
       code pre{
       position: relative;
       margin-left: 0;
       width: 90vw;
/*        transform: translateX(0%);   */
    }
}
@media screen and (max-width:375px){
    .page-right{
        width: 300px;
        height: 300px;
        justify-content: center;
    }
    .swan{
        width:100vw;
        height:300px;
    }
    .youtubevideoin{
        width:100vw;
    }
   
     .bla-bla{
    width: 100vw;
}
       code pre{
       position: relative;
       margin-left: 0;
       width: 90vw;
/*        transform: translateX(0%);   */
    }
}
@media screen and (max-width:360px){
    .page-right{
        width: 300px;
        height: 300px;
        justify-content: center;
    }
   .swan{
        width:100vw;
        height:300px;
    }
    .youtubevideoin{
        width:100vw;
    }
    
     .bla-bla {
   width: 100vw;
}
       code pre{
       position: relative;
      margin-left: 0;
       width: 90vw;
/*        transform: translateX(0%);   */
    }
}
@media screen and (max-width:280px){
    .page-right{
        width: 270px;
        height: 270px;
        justify-content: center;
       margin-left: 10px;

    }
    .swan{
        width:100vw;
        height:250px;
    }
    #wave{
        position:relative;
        top: -40px;
        z-index: 1;
    }
    header{
        height: 1060px;
    }
    .youtubevideoin{
        width:100vw;
    }
     .bla-bla {
    width: 100vw;
}
       code pre{
       position: relative;
      margin-left: 0;
       width: 90vw;
/*        transform: translateX(0%);   */
    }
}
