*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    overflow-X: hidden;
    scroll-behavior: smooth;
}
header{
    margin: 0;
    padding: 0;
    width: 100vw;
    height:700px;
    background-color: rgb(255, 255, 255);
}
.body-main{
    overflow-X: hidden;
    scroll-behavior: smooth;
    width: 100vw;
    background-color:rgb(22, 205, 150);
}
.navbar-nav{
    position: absolute;
    right: 100px;
    margin-right: 150px;

}
.navbar-nav a{
    color: teal;
    font-weight: 600;
    
}
.navbar{
    /* background-color: #19a68e; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.main{
    position: absolute;
    margin: 0;
    padding: 0;
}
/* width */
code pre::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  code pre::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(26, 121, 115); 
    border-radius: 10px;
  }
   
  /* Handle */
  code pre::-webkit-scrollbar-thumb {
    background: rgb(3, 99, 76); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  code pre::-webkit-scrollbar-thumb:hover {
    background: #037671; 
  }
code pre{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
 width: 50vw;
 height: 400px;
 font-size: 1.1em;
 padding: 20px;
 background-color: rgb(0, 0, 0);
 border-radius: 20px;
 color: rgb(141, 155, 167);
 display:block;
 word-wrap: break-word;
 -webkit-word-wrap: break-word;
    word-break: break-all;
    word-wrap: break-word; /* IE>=5.5 */
    white-space: -moz-pre-wrap; /* For Fx<=2 */   
    white-space: pre-wrap; /* Fx>3, Opera>8, Safari>3 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: pre-line;
 overflow-wrap: break-word;
 -webkit-overflow-wrap: break-word ;
 
}
.youtubevideo{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.youtubevideo{
    width:100vw;
}
.youtubevideo video{
    width:100%;
    height:auto;
    justify-content: center;
}

.nameplate{
    position: relative;
    top: 10px;
    left: 100px;
    height: 70px;
    padding: 20px;
    color: rgb(252, 242, 244);
    font-size:20px;
     border-radius: 15px 50px; 
     font-family: 'Merienda One', cursive;
     text-shadow:0 0 10px black;
     animation: colorchange 3s ease-in-out infinite;
     background: linear-gradient(90deg, rgb(60, 137, 130) 0%, rgb(17, 65, 68) 33%);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
/* .main img{
    width: 33em;
    height: auto;
    position: absolute;
    right: 20px;
    z-index: 0;
    float: left; 
} */

.aboutme{
    margin: 0;
    padding: 0;
}
#wave{
    position:relative;
    top: -200px;
    z-index: 1;
}
#wavedown{
    position:relative;
    top:-20px;
}
.bla-bla{
   position: relative;
    left: 50%;
    transform: translateX(-50%);
 width: 60vw;
}
.bla-bla p{
   padding:20px;
    margin-bottom: 50px;
    text-align: center;
}
/* .main-page{
    width: 100vw;
    height: 100vh;

} */
.page-left .socialmedia a .fa{
    display:inline-block;
    height: 40px;
    width: 40px;
    color: rgb(10, 85, 67);
    font-size: 20px;
    position: relative;
    top:-20px;
    left:0px;
    z-index: 99999;
    overflow: hidden;
}
.page-right{
    width: 500px;
    height:500px;
    position:relative;
    display: flex;
    overflow: hidden;
    margin-top: 50px;
   
    
}
.page-right img{
    display: block;
    position:absolute;
    height: inherit;
    width:inherit;
    object-fit: contain;
    z-index:1;
}
.page-left{
    width: 50%;
    height: auto;
    font-family: 'Merienda One', cursive;
    margin-top: 10px;
    float: left;
    text-align: center;
}

.page-left .btn1{
color: white;
padding: 20px;
background-color: rgb(12, 64, 54);
border-radius: 15px 50px; 
border: none;
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
margin: 20px;
}
.page-left .btn2{
    color: rgb(255, 255, 255);
    padding: 20px;
    background-color: rgb(12, 64, 54);
    border-radius: 15px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px; 
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
 
    }

.page-left h1{
    font-size: 29px;
    color: teal;
    padding: 10px;
}
.aboutme h2{
    font-size: 30px;
    color: white;
    padding: 10px;
    font-family: 'Merienda', cursive;
}
.page-left h4{
    font-size: 15px;
    font-family: sans-serif, cursive;
    font-weight:small;
    padding: 10px;
    color: grey;
}
.aboutme{
    height: auto;
    font-size: 1.5em;
    color: white;
    text-align: center;
}
.aboutme p{
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
}
.aboutme p a{
    color: rgb(12, 75, 75);
    
}
.fa{
    color: white;
    font-size: 2em;
    padding: 20px;
}

.fa:hover{
    color: rgb(5, 65, 65);
}
.aboutme h2{
    font-size: 40px;
    color: rgb(247, 247, 247);
    font-family: 'Merienda One', cursive;
    padding-top: 10px;
}

.animations{ 
  width: 100vw;
  height: auto;
  
}
.animations h3{
    font-size: 40px;
    color: rgb(247, 247, 247);
    font-family: 'Merienda One', cursive;
    padding-top: 60px;
    text-align: center;
}
.animations li{
    text-decoration: none;
    text-align: center;
    list-style-type: none;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.animations li:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.animations li:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.animations a{
    text-decoration: none;
    font-size: 2em;
    color: white;
}
.animations a:hover{
    color: #095044;
}
.page-right .fa {
    
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius:50%;  
    z-index:2;
}

.page-right .fa:hover {
    opacity: 0.7;
}

.page-right .fa-facebook {
  background: #3B5998;
  color: white;
}

.page-right .fa-twitter {
  background: #55ACEE;
  color: white;
}

.page-right .fa-google {
  background: #dd4b39;
  color: white;
}

.page-right .fa-linkedin {
  background: #007bb5;
  color: white;
}

.page-right .fa-youtube {
  background: #bb0000;
  color: white;
}

.page-right .fa-instagram {
  background: #125688;
  color: white;
}

.page-right .fa-pinterest {
  background: #cb2027;
  color: white;
}


/* button
 */
.button-container{
    position: relative;
    width:100%;
    height:100%;
   border: 2px solid grey;
   border-radius: 50px;
}
.button-container.container{
    width: 100vw;
height: 610px;
margin:35px auto;
}
.p-button{
    text-align: center;
    font-size: 20px;
    padding-top: 50px;
    color: grey;   
}

.button-code{
    background-color: white;
    height: auto;
    color: teal;
}
.bton-img.container{
position:relative;
width:85vw;
height:610px;
}
.modal-footer a{
    padding: 10px 20px;
    background-color: teal;
    color: white;
}


/* quote */
.card_quote{
   margin-top: 50px;
    box-shadow: rgb(52, 52, 53) 3px 3px 6px 0px inset, rgba(2, 2, 2, 0.5) -1px -1px 6px 1px inset;}
.card-body-quote p{
    font-family: 'Merienda one', cursive;  
     color:teal;
     text-shadow: 2px 2px 4px #ffff;

}
.buton{
    width: 100%;
    text-align: center;
}
.card-body-quote p{
    font-size: 30px;
    
} 
.footer{
    width: 100vw;
     height: 1800px;
    background-color: white;
}
.copyright_info{
    text-align: center;
    color: #095044;
}
.copyright_info .fa{
    color:#095044;
}
.credit{
    text-align: center;
   margin-bottom: 10px;
}
.credit a{
    color:#095044;
    margin-top: 50px;
}
.credit .socialmedia .fa{
    color: #095044;
    margin-top: 50px;
    font-size: 30px;
}
.credit .nameplate{
    margin-right: 200px;
   
}

.wavetermsdown{
    bottom: 0;
}
.breadcrumb{
    background-color: transparent;
    color: teal;
    font-size: 20px;
    width: 100vw;
    text-align:center;
   
}
.breadcrumb li a{
    color: teal;
    text-align: center;
    
}
.breadcrumb-item{
    text-align: center;

}
.youtubevideoin{
    justify-content: center;
    position:relative;
    left:50%;
    transform:translateX(-50%);
    width:500px;
    height:400px;
    
   
}
.youtubevideoin .inpagevideos{
    width: 100%;
    height:100%;
    
}
.youtubevideoin iframe{
    width: 100%;
   height: 100%; 
}
.youtubevideo{
    width: 100vw;
}
.videout{
    width: 100%;
    height:100%;
}
.swan{
 width:100vw;
 height:640px;
 object-fit:cover;

} 
.swan iframe{
width: 100%;
height: 100%;
border: none;
}
.footer p{
    padding-top: 100px;
}
.link-animations{
    position:relative;
    left:50%;
    transform:translateX(-50%);
    width:90vw;
    margin-bottom:50px;
    padding:10px;
    border-radius:20px;
}
.privacy_bottom, .terms{
    padding:20px;
    color:teal;
}
/* raining */
.rain-para{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    text-align: center;
    padding: 50px;
}
xmp{
    width: 80vw;
    word-wrap: break-word;
    -webkit-word-wrap: break-word;
   word-break: break-all;
   word-wrap: break-word; /* IE>=5.5 */
   white-space: -moz-pre-wrap; /* For Fx<=2 */   
   white-space: pre-wrap; /* Fx>3, Opera>8, Safari>3 */
   white-space: -o-pre-wrap; /* Opera 7 */
   white-space: pre-line;
    overflow-wrap: break-word;
    -webkit-overflow-wrap: break-word ;
}
.bton-img.container{
position:relative;
width:85vw;
height:610px;
}
.modal-footer a{
    padding: 10px 20px;
    background-color: teal;
    color: white;
}

.container.raining-container{
    position:relative;
    width:90vw;
    height:auto;
}
.container.raining-container img{
    width:100%;
    /* margin:50px; */
}
.curtaininbet{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width:60vw;
    height: 300px;
    border: 5px groove rgb(6, 93, 77);
    background-color: black;
    margin-bottom:100px;

}
.curtaininbet .curton1{
        position: absolute;
        top: 0px;
        right:0px;
       display: inline-flex;
        height:390px;
        width: 280px;
        background: repeating-radial-gradient(circle, rgba(0, 255, 242, 0.614) 50%, rgba(1, 28, 28, .8) 70%);
       opacity: .5;
      transform-style: preserve-3d;
     background-size: 2em 2em;
     clip-path: polygon(100% 0, 47% 0, 47% 13%, 48% 30%, 51% 46%, 55% 67%, 55% 89%, 50% 100%, 100% 100%);
     animation: ray1 4s ease-in-out infinite;
    z-index: 5;
    
    }
    @keyframes ray1{
        0%{
            
        }
        50%{
            clip-path: polygon(100% 0, 47% 0, 44% 17%, 43% 30%, 44% 48%, 46% 72%, 49% 92%, 50% 100%, 100% 100%);
        }
        100%{
            clip-path: polygon(100% 0, 47% 0, 47% 13%, 48% 30%, 51% 46%, 55% 67%, 55% 89%, 50% 100%, 100% 100%);
        }
    } 
    .curtaininbet .curton2{
        position: absolute;
        top: 0px;
        left:0px;
       display: inline-flex;
       height:390px;
       width: 280px;
        background: repeating-radial-gradient(circle, rgba(0, 255, 242, 0.614) 50%, rgba(1, 28, 28, .8) 70%);
       opacity: .5;
      transform-style: preserve-3d;
     background-size: 2em 2em;
     clip-path: polygon(0 0, 65% 0, 60% 23%, 55% 42%, 48% 63%, 43% 81%, 42% 91%, 43% 100%, 0 100%);
     animation: ray2 4s ease-in-out infinite;
    z-index: 5;
    }
    @keyframes ray2{
        0%{
            
        }
        50%{
            clip-path: polygon(0 0, 55% 0, 56% 23%, 55% 42%, 54% 67%, 57% 91%, 58% 99%, 59% 100%, 0 100%);
        }
        100%{
            clip-path: polygon(0 0, 65% 0, 60% 23%, 55% 42%, 48% 63%, 43% 81%, 42% 91%, 43% 100%, 0 100%);
        }
    }


/* steaming raining */
#tea{
    position:relative;
    left: 50%;
    transform: translateX(-50%);
   justify-content:center;
}
.teadiv{
    width:100%;
    height: 200px;
   justify-content: center;
}
/* clay lamp */
.container.lamp-container{
    position:relative;
    width:90vw;
    height:auto;
    text-align: center;
}
.container.lamp-container img{
    width:100%;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}
.container.lamp-container button{
    background-color: #095044;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.container.lamp-container button:focus{
    box-shadow: none;
    background-color: grey;
}
.button-code-lamp{
    background-color: rgb(0, 0, 0);
    height: auto;
    color: rgb(255, 255, 255);
   
}
.lamping p{
    width: 90vw;
    color: white;
    font-size: 1.7em;
   text-align: center;
   margin: 10px;
}

/* lanterns in the sky */
.lantern-body p{
    position:relative;
   left: 50%;
   transform: translateX(-50%);
    width: 90vw;
    color: white;
    font-size: 1.3em;
   text-align: center;
   margin: 10px;
}
.container.lantern-container{
    position:relative;
    width:90vw;
    height:auto;
    text-align: center;
}
.lantern-body h1{
    margin-top: 50px;
}

/* hot air ballon */
.balloon_body h1{
    margin-top: 50px;
}
.container.balloon-container{
    position:relative;
    width:90vw;
    height:auto;
    text-align: center;
}
.container.balloon-container img{
    width:100%;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}
.container.balloon-container button{
    background-color: #095044;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.container.balloon-container button:focus{
    box-shadow: none;
    background-color: grey;
}
.balloon_body p{
    position:relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    color: rgb(0, 0, 0);
    font-size: 1.3em;
   text-align: center;
   margin: 10px;
}
/* plate and glasslid */
.container.cake-container{
    position:relative;
    width:100vw;
    height:auto;
    margin-bottom: 100px;
    border: 2px solid grey;
    border-radius: 20px;
}
.cake-body p{
    position:relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    color: rgb(0, 0, 0);
    font-size: 1.3em;
   text-align: center;
   margin: 10px;
}
/* moon and clouds */
.container.clouds-container{
    position:relative;
    width:90vw;
    height:auto;
    margin-bottom: 100px;
   

}
.container.clouds-container img{
    width:100%;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}
.container.clouds-container button{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: #095044;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin-top:50px;
}
.container.clouds-container button:focus{
    box-shadow: none;
    background-color: grey;
}
.clouds_body p{
    position:relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    color: rgb(255, 255, 255);
    font-size: 1.3em;
   text-align: center;
   margin: 10px;
   
}
.clouds_body{
    background-color: rgb(12, 0, 45);
}
.container.button-code-moon{
    background-color: rgb(12, 0, 45);
    height: auto;
    color: rgb(255, 255, 255);
}
.clouds_body h1{
    color: white;
}
/* cup animation */
.container.cup-container{
    position:relative;
    width:100vw;
    height:600px;
    margin-bottom: 100px;
  
}
.cup-body button{
    position: relative;
    text-align: center;
    background-color: #095044;
    color: white;
    padding: 10px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.container.button-code-cup{
    background-color: #a2a2a2;
    height: auto;
    color: rgb(0, 0, 0);
    margin-left: 20px;
}
.cup-body p{
    position:relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    color: rgb(0, 0, 0);
    font-size: 1.3em;
   text-align: center;
   margin: 10px;
   
}
.cup-body h1{
    color: rgb(0, 0, 0);
}
.cup-body #waveterms{
    width: 120vw;
}
/* bottom */

.navbar_bottom{
    position: relative;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    background-color: #095044;
    color:teal;
}
.navbar_bottom a{
    background-color:  #095044;
    color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.navbar_bottom a:active{
    background-color: rgb(0, 86, 46);
    color: rgb(255, 255, 255); 
 }
.navbar_bottom a:hover{
   background-color: white;
   color: rgb(0, 0, 0); 
}
.navbar_bottom a:focus{
    background-color: #07986a;
    box-shadow: none;
}
.terms_bottom{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 70vw;
    border: 2px solid rgb(19, 190, 125);
    color: rgb(196, 196, 196);
    margin-top: 30px;
    -webkit-box-shadow: inset 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: inset 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.privacy_bottom{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 70vw;
    color: rgb(196, 196, 196);
    margin-top: 30px;
    border: 2px solid rgb(19, 190, 125);
    -webkit-box-shadow: inset 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: inset 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.contact_bottom{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 70vw;
    color: rgb(196, 196, 196);
    margin-top: 30px;
    border: 2px solid rgb(19, 190, 125);
    -webkit-box-shadow: inset 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: inset 10px 10px 5px 0px rgba(0,0,0,0.75);

}
.so-media{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
}
.so-media .container.button-code{
    position:relative;
    left: 50%;
    transform: translateX(-50%);
    padding-left:20px;
}

/* shopping ad */
.container-shop{
    position:relative;
    left:50%;
    height: 400px;
    width: 100vw;
    background-color:white;
    transform:translateX(-50%);
    border: 2px solid grey;
    z-index: 1;
    overflow: hidden;
}


.btnshop:hover{
   background-color: rgb(0, 77, 77);
   color: white;
   text-decoration: none;
}
.btnshop:active{
    box-shadow: none;
    
}

.twodiv h3{
font-size: 40px;
  text-shadow: .05em .08em 0 rgb(236, 199, 196);
  color: crimson;
  font-family: 'Merienda One', cursive;
  animation: heiya 1s ease-in-out infinite;
  margin-bottom: 100px;
}
.onediv{
    position:absolute;
    left:50px;
    width: 40vw;
    display: inline-block;
    object-fit: contain;
    z-index: 0;
}
.twodiv{
    position:absolute;
    right:50px;
    width: 60vw;
    float: right;
    text-align: center;
    padding:50px;
}
a.btnshop{
    padding: 20px 40px;
    background-color: teal;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border: none;
    font-size: 20px;
    border-top-left-radius: 90px;
   border-bottom-right-radius: 90px;
   
}
.onediv img{
    width: 100%;  
}
@keyframes heiya{
    0%{
        transform: translateY(20px);
    }
    50%{
       transform: translateY(-20px);
       
    }
    100%{
        transform: translateY(20px);
    }
}
@media screen and (max-width:800px){
    .onediv{
    width: 100vw;
    float: none;
    position:relative;
    left: 0;
    background-color: white;
    }
    .twodiv{
    width: 100vw;
    float: none;
    position: relative;
    right: 0;
    background-color: white;
    }
    .twodiv h3{
        font-size: 30px;
    }
    .twodiv a.btnshop{
       position:absolute;
       left: 50%;
       transform: translateX(-50%);
    }
    .container-shop{
        height:1000px;
        margin-bottom: 100px;
        overflow: visible;
    }
}
@media screen and (max-width:500px){
    .container-shop{
        height:800px;
        margin-bottom: 10px;
        overflow: visible;
    }
}

iframe .shop-ad-iframe{
    width:250px;
    height:600px;
     object-fit:cover;
}

/* heart eye smiley */
.container.lantern-container.smiley{
    width: 100vw;
    position: relative;
    justify-content: center;
    border: 2px solid white;
}
.cup-body-button-heart{
    color: white;
    background-color: #095044;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.cup-body-button-heart:focus{
    color: black;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: none;
}
.container.tube-container{
    position:relative;
    width:90vw;
    height:650px;
}
.tube-body{
    background: linear-gradient(163deg, transparent 0px, transparent 1px, #101010 1px, #101010 14px, transparent 14px), linear-gradient(161deg, transparent 0px, #101010 1px, #101010 2px, #101010 15px, transparent 15px), linear-gradient(343deg, transparent 0px, transparent 1px, #101010 1px, #101010 14px, transparent 14px), linear-gradient(343deg, transparent 0px, transparent 1px, #101010 1px, #101010 14px, transparent 14px);
    background-color: #171717;
    background-position: 2px 1px, 23px 16px, 48px 15px,21px 30px;
    background-size: 3em 1.9em;
}
.container.code-tube{
    background-color: transparent;
    font-size: 1.1em;
    color: rgb(192, 192, 192);
    overflow: visible;
    position:relative;
    display: inline-block;
}
.tube-body p{
    color: white;
    font-size: 1.1em;
}
.tube-body h1{
    color: white;
}

@media screen and (max-width:700px){
    .container.cup-container{
        transform: scale(.6);
    }
    .terms_bottom{
        width:80vw;
    }
    .policy_bottom{
        width:80vw;
    }
    .contact_bottom{
        width:80vw;
    }
}

@media screen and (min-width:700px){
    .teadiv{
        width:100%;
        height: 600px;
       justify-content: center;
    } 
}


@media screen and (max-width:1200px) {
    .page-right{
        width: 450px;
        height:450px;
        
    }    
    .swan{
       
        height:140px;
    }
    .wave{
        height: 640px;
    }
}
@media screen and (max-width:1024px){
    #wave{
        position:relative;
        top: -150px;
        z-index: 1;
    } 
    .swan{
   
       height:640px;
    }
} 

@media screen and (max-width:998px) {
    .page-right{
        width: 400px;
        height:400px;
        position: relative;
    } 
    .page-left{
        margin-top: 20px;
    }  
    header{
        height:620px;
    }
    #wave{
        position:relative;
        top: -140px;
        z-index: 1;
    } 
    span.navbar-toggler-icon{
        position: absolute;
        top: 0px;
        right: 300px;
        color: #095044;
        font-size: 50px;
    }
    #navbarNavDropdown{
        background-color: black;
        z-index: 99999;
    }
    .navbar-nav{
        position: absolute;
        right: -100px;
        padding: 50px;
        background-color: #35c8b0;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
    .swan{
        height:640px;
        
    }
}

@media screen and (max-width:820px){
    span.navbar-toggler-icon{
        position: absolute;
        top: 10px;
        right: 10px;
        color: #095044;
        font-size: 50px;
    }
    #navbarNavDropdown{
        background-color: black;
        z-index: 99999;
    }
    .navbar-nav{
        position: absolute;
        right: -100px;
        padding: 50px;
        background-color: #35c8b0;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
     .dropdown-menu.animationv{
       width: 250px;
    }
    .swan{
        height:640px;
        
    }
   .bla-bla{
       width: 80vw;
    }
}

@media screen and (max-width:768px){
    .page-left{
        width: 100%;
       padding: 20px;
    }
    .page-left h1{
        font-size: 40px;
    }
    .page-right{
        width:450px;
        height:450px;
        justify-content: center;
        margin-left: 150px;
    }
    #wave{
        position:relative;
        top: -110px;
        z-index: 1;
    }
     .aboutme p{
        margin-top: 40px;
        margin-left:30px;
        margin-right: 30px;
        margin-bottom: 50px;
    } 
    header{
        width: 100vw;
        height:1050px;
        margin: 0;
        padding: 0;
    }
    .nameplate{
    left:10px;
    }
    .coffee{
        width: 100%;
        text-align: center;
        padding-top: 50px;
    }
    .credit .nameplate{
        margin-right: 0;
    }
    .footer{
        height: 750px;
    }
    .animations a{
      font-size: 25px;
      margin: 20px;
    }
    span.navbar-toggler-icon{
        position: absolute;
        top: 10px;
        right: 10px;
        color: #095044;
        font-size: 50px;
    }
    #navbarNavDropdown{
        background-color: black;
        z-index: 99999;
    }
    .navbar-nav{
        position: absolute;
        right: -100px;
        padding: 50px;
        background-color: #35c8b0;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
    .swan{
     
        height:580px;
    }  
    .bla-bla{
    width: 100vw;
}
       code pre{
       position: relative;
       margin-left: 0;
       width: 90vw;
/*        transform: translateX(0%);     */
    }
    .curtaininbet .curton1{

        height:290px;
        width: 160px;
}
    .curtaininbet .curton2{

        height:290px;
        width: 160px;
}
  
}
@media screen and (max-width:540px){
    .page-right{
        width:450px;
        height:450px; 
        justify-content: center;
        margin-left: 50px;
    } 
    /* .youtubevideo video{
        width:420px;
        height:250px;
    } */
    header{
        height: 990px;
    }
    #wave{
        position:relative;
        top: -90px;
        z-index: 1;
    }
  .swan{
        width:100vw;
        height:320px;
    }
    .youtubevideoin{
        width:100vw;
    }
     
     .bla-bla{
     width: 100vw;
}
       code pre{
       position: relative;
       margin-left: 0;
       width: 90vw;
/*        transform: translateX(0%);   */
    }
     
}
@media screen and (max-width:480px) {
    .page-right{
        width: 370px;
        height: 370px;
        justify-content: center;
    }
   .swan{
        width:100vw;
        height:320px;
    }
    .youtubevideoin{
        width:100vw;
    }
    
     .bla-bla{
    width: 100vw;
}
       code pre{
       position: relative;
      margin-left: 0;
       width: 90vw;
/*        transform: translateX(0%);   */
    }
}
@media screen and (max-width:414px){
    #wave{
        position:relative;
        top: -60px;
        z-index: 1;
    }
    .page-right{
        width: 350px;
        height: 350px;
        justify-content: center;
       margin-left: 40px;
    }
    .swan{
        width:100vw;
        height:320px;
    }
   .youtubevideoin{
        width:100vw;
    }
    
     .bla-bla{
    width: 100vw;
}
       code pre{
       position: relative;
      margin-left: 0;
       width: 90vw;
/*        transform: translateX(0%);   */
    }
}
@media screen and (max-width:412px){
    #wave{
        position:relative;
        top: -60px;
        z-index: 1;
    }
    .page-right{
        width: 350px;
        height: 350px;
        justify-content: center;
       margin-left: 40px;
    }
 .swan{
        width:100vw;
        height:320px;
    }
    .youtubevideoin{
        width:100vw;
    }
    
     .bla-bla{
   width: 100vw;
}
       code pre{
       position: relative;
       margin-left: 0;
       width: 90vw;
/*        transform: translateX(0%);   */
    }
}
@media screen and (max-width:375px){
    .page-right{
        width: 300px;
        height: 300px;
        justify-content: center;
    }
    .swan{
        width:100vw;
        height:300px;
    }
    .youtubevideoin{
        width:100vw;
    }
   
     .bla-bla{
    width: 100vw;
}
       code pre{
       position: relative;
       margin-left: 0;
       width: 90vw;
/*        transform: translateX(0%);   */
    }
}
@media screen and (max-width:360px){
    .page-right{
        width: 300px;
        height: 300px;
        justify-content: center;
    }
   .swan{
        width:100vw;
        height:300px;
    }
    .youtubevideoin{
        width:100vw;
    }
    
     .bla-bla {
   width: 100vw;
}
       code pre{
       position: relative;
      margin-left: 0;
       width: 90vw;
/*        transform: translateX(0%);   */
    }
}
@media screen and (max-width:280px){
    .page-right{
        width: 270px;
        height: 270px;
        justify-content: center;
       margin-left: 10px;

    }
    .swan{
        width:100vw;
        height:250px;
    }
    #wave{
        position:relative;
        top: -40px;
        z-index: 1;
    }
    header{
        height: 1060px;
    }
    .youtubevideoin{
        width:100vw;
    }
     .bla-bla {
    width: 100vw;
}
       code pre{
       position: relative;
      margin-left: 0;
       width: 90vw;
/*        transform: translateX(0%);   */
    }
}
button.youtubecover{
    position: relative;
    margin: 0 auto; 
    padding: 25px 40px;
    border-radius: 15px;
  z-index: 0;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background: rgb(43,111,77);
background: linear-gradient(0deg, rgba(43,111,77,1) 0%, rgba(15,164,95,1) 24%, rgba(17,179,117,1) 69%, rgba(60,255,187,1) 100%);
}

button.youtubecover:hover{
    outline: none;
    background: rgb(107,237,177);
background: linear-gradient(0deg, rgba(107,237,177,1) 0%, rgba(17,179,117,1) 32%, rgba(15,164,95,1) 80%, rgba(43,111,77,1) 100%);
}

button.youtubecover:focus{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border: 0;
    background: rgb(65,189,127);
background: radial-gradient(circle, rgba(65,189,127,1) 42%, rgba(36,96,66,1) 100%);
}

button.youtubecover::after{
    content: '';
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   width: 20px;
   height: 20px;
   clip-path: polygon(0 0, 0% 100%, 100% 52%);
   background-color: rgb(255, 255, 255);
   z-index: 99999;
  
}
span.navbar-toggler-icon{
        position: absolute;
        top: 0px;
        right: 300px;
        color: #095044;
        font-size: 50px;
    }
