*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
.myfirstpage{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    top: 0;
    left:0;
    z-index: -1;
   overflow: hidden;
    background: linear-gradient(180deg, rgba(255,255,255,1) 25%, rgb(0, 94, 149) 85%);
     /* background: linear-gradient(180deg, rgba(255,255,255,1) 30%,  rgb(3, 154, 108) 83%);  */

}

#mysvg{
    animation:updown 2s ease-in-out infinite;
    z-index: 1;
    position:fixed;
    bottom: -380px;
    left: 0%;
  
    
}
.wave{
    width:100vw;
    height:40vh;
    position: absolute;
    bottom: 0;
    left: 0px;
    background-color: rgba(7, 107, 165, 0.2);
    /* background-color: rgba(3, 154, 108,.2); */
    animation: waves1 2s ease-in-out infinite;
    z-index: 1;
    backface-visibility: hidden;
    outline: none;
}
@media screen and (min-width:1300px){
    #mysvg{
       bottom:-380px ;
    }
}

@media screen and (max-width:1200px){
    #mysvg{
       bottom:-270px ;
    }
}
@media screen and (max-width:998px){
    #mysvg{
       bottom:-200px ;
    }
    .wave{
        height:200px;
    }
}
@media screen and (max-width:912px){
    #mysvg{
       bottom:-220px;
    }
    .wave{
        height:200px;
    }
}
@media screen and (max-width:768px){
    #mysvg{
       bottom:-200px;
    }
    .wave{
        height:180px;
    }
}
@media screen and (max-width:656px){
    #mysvg{
       bottom:-130px;
    }
    
}
@media screen and (max-width:546px){
    #mysvg{
       bottom:-140px;
    }
}
@media screen and (max-width:540px){
    #mysvg{
       bottom:-150px;
    }
    .wave{
        height: 120px;
    }
}
@media screen and (max-width:480px){
    #mysvg{
       bottom:-80px;
    }
    .wave{
        height:150px;
    }
    
}
@media screen and (max-width:375px){
    #mysvg{
        bottom:-60px;
     }
    .wave{
        height:150px;
    }
    
}
@media screen and (max-width:360px){
    #mysvg{
       bottom:-60px;
    }
    .wave{
        height:150px;
    }
    
}
@media screen and (max-width:280px){
    #mysvg{
       bottom:-60px;
    }
    .wave{
        height:100px;
    }
    
}

@keyframes waves1{
    0%,100%{
        clip-path: polygon(0 100%, 0 37%, 20% 46%, 33% 49%, 47% 49%, 57% 49%, 66% 48%, 74% 46%, 88% 40%, 100% 35%, 100% 48%, 100% 56%, 99% 100%);}
        /* clip-path: polygon(0 100%, 9% 80%, 18% 74%, 33% 71%, 47% 70%, 60% 67%, 71% 65%, 81% 66%, 91% 74%, 100% 100%);    } */
    50%{
        /* clip-path: polygon(0 100%, 3% 84%, 13% 70%, 29% 68%, 45% 70%, 61% 76%, 75% 79%, 85% 85%, 93% 89%, 100% 100%);    */
        clip-path: polygon(0 100%, 0 51%, 4% 42%, 14% 39%, 26% 44%, 43% 50%, 57% 54%, 74% 59%, 85% 61%, 94% 60%, 100% 57%, 100% 74%, 99% 100%);    }
}


@keyframes updown{
    50%{
   transform: translateY(5vh);
    }
    100%{
transform: translateY(0vh);
    }
}


