/* *, *:before, *:after {
    box-sizing: border-box;
  } */
  
  /* pre[class*="language-"] {
    position:relative;
    overflow: auto;
    margin:5px 0;
    padding:1.75rem 0 1.75rem 1rem;
    border-radius:10px;
  } */
  pre{
    position:relative;
    overflow: auto;
    padding: 0;
    border-radius:10px;
    background-color: rgb(57, 90, 91);
    color: white;
    height: 200px;
  }
  
  button{
    position:absolute;
    top:5px;
    right:5px;
    font-size:.9rem;
    padding:.35rem;
    background-color:#138488;
    color:white;
    border:ridge 1px #0e747b;
    border-radius:5px;
    text-shadow:#129b96 0 0 2px;
  }
  
  button:hover{
    cursor:pointer;
     background-color:#bcbabb;
     color: black;
  }
  .card-text pre{
    height: 100px;
  }
.card-body a{
     text-shadow: 0 1px 0 rgb(166, 199, 196),
               0 2px 0 rgb(166, 199, 196),
               0 3px 0 rgb(166, 199, 196),
               0 4px 0 rgb(166, 199, 196),
               0 5px 0 rgb(166, 199, 196),
               0 6px 1px rgba(0, 255, 221, 0.1),
               0 0 5px rgba(0, 255, 221, 0.1),
               0 1px 3px rgba(0, 255, 221, 0.1),
               0 3px 5px rgba(0, 255, 221, 0.1),
               0 5px 10px rgba(0, 255, 221, 0.1),
               0 10px 10px rgba(0, 255, 221, 0.1),
               0 20px 20px rgba(0, 255, 221, 0.1);
  font-size: 25px;
 text-decoration: none;
font-family: 'Merienda One', cursive;
}
.get-code:hover{
    color:aqua;
    text-decoration:none;
}
.get-code:active{
    box-shadow:none;
    color:white;
}
.collapse{
    margin-top:100px;
}
